
body{
    font-family: Arial, Helvetica, sans-serif;
}
.update-container{
   text-align: center;
    margin: 10px auto;
    padding: 10px;
}

input{
    border-radius: 2px;
    border: 1px solid #0a3a64;
    width: 80%;
    max-width: 400px;
    padding: 10px;
}
#sendotp{
    cursor: pointer;
    background-color: #0a3a64;
    border-radius: 5px;
    border: none;
   color: #fff;
    margin: 10px auto;
    padding: 10px;
    transition: all 0.3s ease;
}
#sendotp:hover{
    background-color: lightslategray;
}


#sendotp2{
    cursor: pointer;
    background-color: #0a3a64;
    border-radius: 5px;
    border: none;
   color: #fff;
    margin: 10px auto;
    padding: 10px;
    transition: all 0.3s ease;
}
#sendotp2:hover{
    background-color: lightslategray;
}



#submitbtn{
    cursor: pointer;
    background-color: #0a3a64;
    border-radius: 5px;
    border: none;
   color: #fff;
    margin: 10px auto;
    padding: 10px;
    transition: all 0.3s ease;
}
#submitbtn:hover{
    background-color: lightslategray;
}


h4{
    font-size: 16px;
}

.msg{
    color: #0a3a64;
    
    padding: 10px;
   





}


.nav1{
    list-style: none;
    display: flex;
    gap: 5px;
     


}


.nav1 li{
     padding: 10px;
      transition: transform 0.3s;
     transition: all 0.3s ease;
}
nav li:hover{
    transform: scale(1.05);
}
.nav1 li a{
     border: 1px solid #032541;
    border-radius: 5px;
    background-color: #0a3a64;
    font-size: 15px;
    letter-spacing: 1px;
  padding: 10px;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease;
       transition: transform 0.3s;
    
   
}
.nav1 a:hover{
    border-radius:5px ;
  
    
 transform: scale(1.05);
 background-color: lightslategray;

}